@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: "#000";
  --background-start-rgb: '#fff';
  --background-end-rgb: '#fff';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: "#000";
    --background-start-rgb: '#fff';
    --background-end-rgb: '#fff';
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.hero{
  background-image: url(./images/hero.jpg);
}
.pattern{
  background-image: url(./images/Pattern.svg);
}
